
  
    <h1>Home Page</h1>
    <h2>Brief explanation of each view</h2>
    <ul>
        <li>Calculator</li>
        <a>View where you are able to perform basic mathematical functions.</a>
        <p>Includes: Addition, Substraction, Multiplication and Division</p>
        <li>Text Editor</li>
        <a>Type in text and edit it</a>
        <p>Includes Choosing text and background color</p>
        <li>Esports results API</li>
        <a>Showcases five upcoming G2 games</a>
        <p>Includes: Matchup, Date, Competition name and Format</p>
    </ul>

  
  
